.full-gallery{
    padding-top: 150px;
    background-color: rgba(71, 71, 71, 0.822);
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 75px;
}

.gallery-rows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px 50px;
    flex-wrap: wrap;
    width: 75%;
}

.gallery-grouping{
    height: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    width: 600px;
    display: flex;
    flex-direction: row;
}

.gallery-images{
    max-width: 50%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {

    .full-gallery {
        padding-top: 110px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .gallery-rows {
        width: 100%;
    }

    .gallery-grouping {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .gallery-images {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}