.get-estimate-form{
    background-color: #063c68;
    height: auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    padding-bottom: 70px;
}

.get-estimate-form-text-container{
    padding-top: 25px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif ;
    width: 600px;
    height: 95%;
    position: relative;
    justify-content: center;
    border-radius: 5%;
    padding-bottom: 25px;
}


.get-estimate-form-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-height: auto;
    color: white;
}

.get-estimate-form-header{
    margin-bottom: 10px;
}

.get-estimate-form-img{
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    display: block;
}

.required::after {
    content: " *";
    color: red;
}

.form-grouping{
    display: flex;
    flex-direction: column;
    width: 225px;
    align-items: flex-start;
    font-size: 20px;
    gap: 2px;
}

.input-box{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form-rows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px 50px;
    flex-wrap: wrap;
}

.project{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}

.project-input-box{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 500px;
    height: 90px;
    box-sizing: border-box;
    resize: vertical;
    overflow-y: auto;
    padding: 10px;
}

.request-estimate-button{
    background-color: #063c68;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;
    height: 50px;
    box-sizing: border-box;
    margin-top: 20px;
}

.request-estimate-button:hover{
    background-color: #05314e;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#get-an-estimate-form {
    scroll-margin-top: 150px;
}

.field-error {
    display: none;
    color: red;
    font-size: 18px;
    margin-top: 5px;
}

.form-success {
    display: none;
    color: green;
    font-size: 18px;
    margin-top: 5px;
}

.form-error {
    display: none;
    color: red;
    font-size: 18px;
    margin-top: 5px;
}